body {
    font-family: helvetica;
    font-size: 10pt;
}

table {
    border-spacing: 1px;
}

table tr {
    
}

table#most_wanted_otus_table tr:nth-child(odd) td{
    background-color: #e1f9fe;
}
table#most_wanted_otus_table tr:nth-child(even) td{
}

th {
    font-family: helvetica;
    background-color: #eee;
}