*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# non-emp-funded otu tables
*714*
*776*
*940*
*1030*
*1033*
*1043*
*1197*
*1198*
*1530*
# uncompressed biom files (they can be big)
otu_table*.biom

.DS_Store
.dropbox
per_study_otu_tables.tgz
readme_dropbox.txt
master_mapping_file_private.txt.gz
master_mapping_file_private.txt
master_mapping_file.txt
per_study_alpha_diversity_even.tgz

# vim swap files
.*.swp

# ipynb checkpoints 
code/01-metadata/.ipynb_checkpoints
code/02-sequence-processing/.ipynb_checkpoints
code/03-otu-picking-trees/.ipynb_checkpoints
code/04-subsets-prevalence/.ipynb_checkpoints
code/05-alpha-diversity/.ipynb_checkpoints
code/06-beta-diversity/.ipynb_checkpoints
code/07-env-effects-classif-corr/.ipynb_checkpoints
code/08-cooccurrence-nestedness/.ipynb_checkpoints
code/09-specificity-entropy/.ipynb_checkpoints
code/10-sequence-lookup/.ipynb_checkpoints
code/colors-styles/.ipynb_checkpoints
code/download-sequences/.ipynb_checkpoints

# emacs files
scripts/sequence-lookup/get_v4_region.py~

