:root {
  --basic: #66686e;
  --highlight: #81cc2b;
  --link: #3182bd;
}
body {
  width: 900px;
  height: 1200px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  border: 8px solid var(--basic);
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: var(--link);
}
p, div.wiki {
  margin-left: 20px;
  margin-right: 20px;
  color: var(--basic);
  padding-left: 20px;
  text-indent: -20px;
}
p.sequence {
  text-align: center;
  font-family: monospace;
  font-size: 18px;
  padding-left: 0px;
  text-indent: 0px;
}
span.heading {
  color: var(--highlight);
}
div.wiki {
  overflow: auto;
  height: 95px;
}
